# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Ignore New folder
New folder/

# next.js
/.next/
/out/

# Ignore all GLB files in 3d assets
# /frontend/public/assets/3d/*.glb
# /frontend/public/assets/3d/*.glb.log

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts